<div id='user_info'>
	<p>
		<b>Username:</b> <%= @user.username %>
	</p>

	<p>
		<b>Balance:</b> <%= @user.balance %>
	</p>
	<p>
		<b>Games Played:</b> <%= @user.games.count %>
	</p>
	<%= link_to 'edit my info', edit_user_path(@user) %>
</div>
<br />
<br />
<div>
	<%= button_to 'Play Now!', games_path, :class => 'btn btn-primary btn-large'%>
</div>

