<p id="notice"><%= notice %></p>

<p>
  <b>Wager:</b>
  <%= @game.wager %>
</p>

<p>
  <b>Payout:</b>
  <%= @game.payout %>
</p>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
